{% extends 'periodontalchart/common.html' %}

{% block title %}
  Пародонтальная карта
{% endblock title %}

{% block smth1 %}
  <h1>Пародонтальная карта</h1>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Таблица</title>
  <style type="text/css">
   TABLE {
    width: 500px; /* Ширина таблицы */
    border-collapse: collapse; /* Убираем двойные линии между ячейками */
   }
   TD, TH {
    padding: 3px; /* Поля вокруг содержимого таблицы */
    border: 1px solid black; /* Параметры рамки */
   }
   TH {
    background: #b0e0e6; /* Цвет фона */
   }
  </style>
 </head>
 <body>
  <table bgcolor=#ffffff align="center">
     <table bgcolor=#ffffff align="center">
   <tr>
       <th>&nbsp;</th>
       <th><button onclick="myFunction()">18</button></th>
       <th><button type="button" name="18">17</button></th>
       <th><button type="button" name="18">16</button></th>
       <th><button type="button" name="18">15</button></th>
       <th><button type="button" name="18">14</button></th>
       <th><button type="button" name="18">13</button></th>
       <th><button type="button" name="18">12</button></th>
       <th><button type="button" name="18">11</button></th>
   </tr>
   <tr>
    <td>Подвижность</td><td><input id="podv18" type="button" value=""></td><td><input type="button" value=""></td><td>79</td>
   </tr>
   <tr>
    <td>Имплант</td><td><button onclick="implant18()"></button></td><td><button onclick="implant19()"></button></td><td><button onclick="implant20()"></button></td>
   </tr>
   <tr>
    <td>Кровоточивость при зонировании</td><td><button onclick="kr18_1()" id="kr18_1" class="kr18_1" name="0">r</button><button onclick="kr18_2()"></button><button onclick="kr18_3()"></button></td><td>57</td><td>36</td>
   </tr>
   <tr>
    <td>Зубные отложения</td><td>29</td><td>57</td><td>36</td>
   </tr>
      <tr>
    <td>Десневой край</td><td>29</td><td>57</td><td>36</td>
   </tr>
      <tr>
    <td>Глубина зондирования</td><td>29</td><td>57</td><td>36</td>
   </tr>
  </table>

  <img id="myImage" name = 0 src="static/periodontalchart/img/1.PNG">

  <script>
   function myFunction() {
           var el = document.getElementById("myImage");
           if (el.name == 0){
              el.src = "static/periodontalchart/img/2.PNG";
              el.name = 1;
              document.getElementById('podv18').hidden = true;
           }
           else {
              el.src = "static/periodontalchart/img/1.PNG";
              el.name = 0;
              document.getElementById('podv18').hidden = false;
           }
   }
    </script>

 </body>
{% endblock smth1 %}
