{% extends 'periodontalchart/common.html' %}

{% block title %}
  Пародонтальная карта
{% endblock title %}

{% block smth1 %}
  <h1>Пародонтальная карта</h1>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Таблица</title>
    <title>Charts</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/reset.min.css"/>
    <link rel="stylesheet" href="css/main.css"/>
 </head>
 <body>
  <table bgcolor=#ffffff align="center" id="table1">
   <tr>
       <th>&nbsp;</th>
       <th><button onclick="exist18()" class="exist">18</button></th>
       <th><button onclick="exist17()" class="exist">17</button></th>
       <th><button onclick="exist16()" class="exist">16</button></th>
       <th><button onclick="exist15()" class="exist">15</button></th>
       <th><button onclick="exist14()" class="exist">14</button></th>
       <th><button onclick="exist13()" class="exist">13</button></th>
       <th><button onclick="exist12()" class="exist">12</button></th>
       <th><button onclick="exist11()" class="exist">11</button></th>
   </tr>
   <tr>
    <td>Подвижность</td><td><input id="podv18" type="number" value="0"></td>
                        <td><input id="podv17" type="number" value="0"></td>
                        <td><input id="podv16" type="number" value="0"></td>
                        <td><input id="podv15" type="number" value="0"></td>
                        <td><input id="podv14" type="number" value="0"></td>
                        <td><input id="podv13" type="number" value="0"></td>
                        <td><input id="podv12" type="number" value="0"></td>
                        <td><input id="podv11" type="number" value="0"></td>
   </tr>
   <tr>
    <td>Имплант</td><td><button onclick="implant18()"></button></td><td><button onclick="implant19()"></button></td><td><button onclick="implant20()"></button></td>
   </tr>
   <tr>
    <td>Кровоточивость при зонировании</td>
       <td class="td_kr"><button onclick="kr18_1()" id="kr18_1" name=0 class="kr"></button>
           <button onclick="kr18_2()" id="kr18_2" name=0 class="kr"></button>
           <button onclick="kr18_3()" id="kr18_3" name=0 class="kr"></button></td>
       <td>57</td><td>36</td>
   </tr>
   <tr>
    <td>Зубные отложения</td><td>29</td><td>57</td><td>36</td>
   </tr>
      <tr>
    <td>Десневой край</td><td><input type="number" class="number1"></td><td><input type="number" class="number2"></td><td>36</td>
   </tr>
   <tr>
    <td>Глубина зондирования</td><td>29</td><td>57</td><td>36</td>
   </tr>
   <tr>
    <td>зубы</td>
       <td style="padding: 0px;"><img id="t18" class = "teeth_img" name = 0 src="static/periodontalchart/img/t18.PNG"></td>
       <td style="padding: 0px;"><img id="t17" class = "teeth_img" name = 0 src="static/periodontalchart/img/t17.PNG"></td>
       <td style="padding: 0px;"><img id="t16" class = "teeth_img" name = 0 src="static/periodontalchart/img/t16.PNG"></td>
       <td style="padding: 0px;"><img id="t15" class = "teeth_img" name = 0 src="static/periodontalchart/img/t15.PNG"></td>
       <td style="padding: 0px;"><img id="t14" class = "teeth_img" name = 0 src="static/periodontalchart/img/t14.PNG"></td>
       <td style="padding: 0px;"><img id="t13" class = "teeth_img" name = 0 src="static/periodontalchart/img/t13.PNG"></td>
       <td style="padding: 0px;"><img id="t12" class = "teeth_img" name = 0 src="static/periodontalchart/img/t12.PNG"></td>
       <td style="padding: 0px;"><img id="t11" class = "teeth_img" name = 0 src="static/periodontalchart/img/t11.PNG"></td>
   </tr>
  </table>

  <table bgcolor=#ffffff align="center" id="table2">
   <tr>
       <th>&nbsp;</th>
       <th><button onclick="exist21()" class="exist">21</button></th>
       <th><button onclick="exist22()" class="exist">22</button></th>
       <th><button onclick="exist23()" class="exist">23</button></th>
       <th><button onclick="exist24()" class="exist">24</button></th>
       <th><button onclick="exist25()" class="exist">25</button></th>
       <th><button onclick="exist26()" class="exist">26</button></th>
       <th><button onclick="exist27()" class="exist">27</button></th>
       <th><button onclick="exist28()" class="exist">28</button></th>
   </tr>
   <tr>
    <td>Подвижность</td><td><input id="podv21" type="number" value="0"></td>
                        <td><input id="podv22" type="number" value="0"></td>
                        <td><input id="podv23" type="number" value="0"></td>
                        <td><input id="podv24" type="number" value="0"></td>
                        <td><input id="podv25" type="number" value="0"></td>
                        <td><input id="podv26" type="number" value="0"></td>
                        <td><input id="podv27" type="number" value="0"></td>
                        <td><input id="podv28" type="number" value="0"></td>
   </tr>
   <tr>
    <td>Имплант</td><td><button onclick="implant18()"></button></td><td><button onclick="implant19()"></button></td><td><button onclick="implant20()"></button></td>
   </tr>
   <tr>
    <td>Кровоточивость при зонировании</td>
       <td class="td_kr"><button onclick="kr18_1()" id="kr21_1" name=0 class="kr"></button>
           <button onclick="kr18_2()" id="kr22_2" name=0 class="kr"></button>
           <button onclick="kr18_3()" id="kr23_3" name=0 class="kr"></button></td>
       <td>57</td><td>36</td>
   </tr>
   <tr>
    <td>Зубные отложения</td><td>29</td><td>57</td><td>36</td>
   </tr>
      <tr>
    <td>Десневой край</td><td><input type="number" class="number1"></td><td><input type="number" class="number2"></td><td>36</td>
   </tr>
      <tr>
    <td>Глубина зондирования</td><td>29</td><td>57</td><td>36</td>
   </tr>
  </table>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>

<div style="position:absolute; top:750px; left:160px; width:200px; height:500px;">
<canvas></canvas>
</div>
  <script>
   function exist18() {
           var el = document.getElementById("t18");
           if (el.name == 0){
              el.src = "static/periodontalchart/img/2.PNG";
              el.name = 1;
              document.getElementById('podv18').hidden = true;
           }
           else {
              el.src = "static/periodontalchart/img/t18.PNG";
              el.name = 0;
              document.getElementById('podv18').hidden = false;
           }
   }


   function kr18_1() {
           var el = document.getElementById("kr18_1");
           if (el.name == 0){
              el.style.backgroundColor = 'red';
              el.name = 1;
           }
           else {
              el.style.backgroundColor = 'white';
              el.name = 0;
           }
   }

   function kr18_2() {
           var el = document.getElementById("kr18_2");
           if (el.name == 0){
              el.style.backgroundColor = 'red';
              el.name = 1;
           }
           else {
              el.style.backgroundColor = 'white';
              el.name = 0;
           }
   }

   function kr18_3() {
           var el = document.getElementById("kr18_3");
           if (el.name == 0){
              el.style.backgroundColor = 'red';
              el.name = 1;
           }
           else {
              el.style.backgroundColor = 'white';
              el.name = 0;
           }
   }
    </script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.0/dist/chart.umd.min.js"></script>
  <script src="static/periodontalchart/js/main.js"></script>
 </body>
{% endblock smth1 %}
