{% extends 'periodontalchart/common.html' %}

{% block title %}
  Пародонтальная карта
{% endblock title %}

{% block smth1 %}
  <h1>Пародонтальная карта</h1>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Таблица</title>
    <title>Charts</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/reset.min.css"/>
    <link rel="stylesheet" href="css/main.css"/>
 </head>
 <body>
  <table bgcolor=#ffffff align="center" id="table1">
   <tr align="center">
       <th class="td_text">&nbsp;</th>
       <th><button onclick="exist18()" class="exist">18</button></th>
       <th><button onclick="exist17()" class="exist">17</button></th>
       <th><button onclick="exist16()" class="exist">16</button></th>
       <th><button onclick="exist15()" class="exist">15</button></th>
       <th><button onclick="exist14()" class="exist">14</button></th>
       <th><button onclick="exist13()" class="exist">13</button></th>
       <th><button onclick="exist12()" class="exist">12</button></th>
       <th><button onclick="exist11()" class="exist">11</button></th>
   </tr>
   <tr align="center">
    <td class="td_text">Подвижность</td>
       <td><input id="podv18" class="podv" type="number" value="0"></td>
       <td><input id="podv17" class="podv" type="number" value="0"></td>
       <td><input id="podv16" class="podv" type="number" value="0"></td>
       <td><input id="podv15" class="podv" type="number" value="0"></td>
       <td><input id="podv14" class="podv" type="number" value="0"></td>
       <td><input id="podv13" class="podv" type="number" value="0"></td>
       <td><input id="podv12" class="podv" type="number" value="0"></td>
       <td><input id="podv11" class="podv" type="number" value="0"></td>
   </tr>
   <tr align="center">
    <td class="td_text">Имплант</td>
       <td><button class="implant" onclick="implant18()"></button></td>
       <td><button class="implant" onclick="implant17()"></button></td>
       <td><button class="implant" onclick="implant16()"></button></td>
       <td><button class="implant" onclick="implant15()"></button></td>
       <td><button class="implant" onclick="implant14()"></button></td>
       <td><button class="implant" onclick="implant13()"></button></td>
       <td><button class="implant" onclick="implant12()"></button></td>
       <td><button class="implant" onclick="implant11()"></button></td>
   </tr>
    <tr align="center">
    <td class="td_text">Фуркация</td>
       <td><button class="furk" id="furk18" onclick="furk18()"></button></td>
       <td><button class="furk" id="furk17" onclick="furk17()"></button></td>
       <td><button class="furk" id="furk16" onclick="furk16()"></button></td>
        <td></td>
       <td></td>
       <td></td>
       <td></td>
       <td></td>
   </tr>
   <tr align="center">
    <td class="td_text">Кровоточивость</td>
       <td class="td_kr">
           <button onclick="kr18_1()" id="kr18_1" name=0 class="kr"></button><button onclick="kr18_2()" id="kr18_2" name=0 class="kr"></button><button onclick="kr18_3()" id="kr18_3" name=0 class="kr"></button>
       </td>
       <td class="td_kr">
           <button onclick="kr17_1()" id="kr17_1" name=0 class="kr"></button><button onclick="kr17_2()" id="kr17_2" name=0 class="kr"></button><button onclick="kr17_3()" id="kr17_3" name=0 class="kr"></button>
       </td>
       <td class="td_kr">
           <button onclick="kr16_1()" id="kr16_1" name=0 class="kr"></button><button onclick="kr16_2()" id="kr16_2" name=0 class="kr"></button><button onclick="kr16_3()" id="kr16_3" name=0 class="kr"></button>
       </td>
       <td class="td_kr">
           <button onclick="kr15_1()" id="kr15_1" name=0 class="kr"></button><button onclick="kr15_2()" id="kr15_2" name=0 class="kr"></button><button onclick="kr15_3()" id="kr15_3" name=0 class="kr"></button>
       </td>
       <td class="td_kr">
           <button onclick="kr14_1()" id="kr14_1" name=0 class="kr"></button><button onclick="kr14_2()" id="kr14_2" name=0 class="kr"></button><button onclick="kr14_3()" id="kr14_3" name=0 class="kr"></button>
       </td>
       <td class="td_kr">
           <button onclick="kr13_1()" id="kr13_1" name=0 class="kr"></button><button onclick="kr13_2()" id="kr13_2" name=0 class="kr"></button><button onclick="kr13_3()" id="kr13_3" name=0 class="kr"></button>
       </td>
       <td class="td_kr">
           <button onclick="kr12_1()" id="kr12_1" name=0 class="kr"></button><button onclick="kr12_2()" id="kr12_2" name=0 class="kr"></button><button onclick="kr12_3()" id="kr12_3" name=0 class="kr"></button>
       </td>
       <td class="td_kr">
           <button onclick="kr11_1()" id="kr11_1" name=0 class="kr"></button><button onclick="kr11_2()" id="kr11_2" name=0 class="kr"></button><button onclick="kr11_3()" id="kr11_3" name=0 class="kr"></button>
       </td>
   </tr>
   <tr align="center">
    <td class="td_text">Зубные отложения</td>
       <td class="td_kr">
           <button onclick="otl18_1()" id="otl18_1" name=0 class="otl"></button><button onclick="otl18_2()" id="otl18_2" name=0 class="otl"></button><button onclick="otl18_3()" id="otl18_3" name=0 class="otl"></button>
       </td>
       <td class="td_kr">
           <button onclick="otl17_1()" id="otl17_1" name=0 class="otl"></button><button onclick="otl17_2()" id="otl17_2" name=0 class="otl"></button><button onclick="otl17_3()" id="otl17_3" name=0 class="otl"></button>
       </td>
       <td class="td_kr">
           <button onclick="otl16_1()" id="otl16_1" name=0 class="otl"></button><button onclick="otl16_2()" id="otl16_2" name=0 class="otl"></button><button onclick="otl16_3()" id="otl16_3" name=0 class="otl"></button>
       </td>
       <td class="td_kr">
           <button onclick="otl15_1()" id="otl15_1" name=0 class="otl"></button><button onclick="otl15_2()" id="otl15_2" name=0 class="otl"></button><button onclick="otl15_3()" id="otl15_3" name=0 class="otl"></button>
       </td>
       <td class="td_kr">
           <button onclick="otl14_1()" id="otl14_1" name=0 class="otl"></button><button onclick="otl14_2()" id="otl14_2" name=0 class="otl"></button><button onclick="otl14_3()" id="otl14_3" name=0 class="otl"></button>
       </td>
       <td class="td_kr">
           <button onclick="otl13_1()" id="otl13_1" name=0 class="otl"></button><button onclick="otl13_2()" id="otl13_2" name=0 class="otl"></button><button onclick="otl13_3()" id="otl13_3" name=0 class="otl"></button>
       </td>
       <td class="td_kr">
           <button onclick="otl12_1()" id="otl12_1" name=0 class="otl"></button><button onclick="otl12_2()" id="otl12_2" name=0 class="otl"></button><button onclick="otl12_3()" id="otl12_3" name=0 class="otl"></button>
       </td>
       <td class="td_kr">
           <button onclick="otl11_1()" id="otl11_1" name=0 class="otl"></button><button onclick="otl11_2()" id="otl11_2" name=0 class="otl"></button><button onclick="otl11_3()" id="otl11_3" name=0 class="otl"></button>
       </td>
   </tr >
      <tr align="center">
    <td class="td_text">Десневой край</td>
          <td><input type="number" class="desn" id="desn18_1" value="0"><input type="number" class="desn" id="desn18_2"  value="0"><input type="number" class="desn" id="desn18_3" value="0"></td>
          <td><input type="number" class="desn" id="desn17_1" value="0"><input type="number" class="desn" id="desn17_2"  value="0"><input type="number" class="desn" id="desn17_3" value="0"></td>
          <td><input type="number" class="desn" id="desn16_1" value="0"><input type="number" class="desn" id="desn16_2" value="0"><input type="number" class="desn" id="desn16_3" value="0"></td>
          <td><input type="number" class="desn" id="desn15_1" value="0"><input type="number" class="desn" id="desn15_2" value="0"><input type="number" class="desn" id="desn15_3" value="0"></td>
          <td><input type="number" class="desn" id="desn14_1" value="0"><input type="number" class="desn" id="desn14_2" value="0"><input type="number" class="desn" id="desn14_3" value="0"></td>
          <td><input type="number" class="desn" id="desn13_1" value="0"><input type="number" class="desn" id="desn13_2" value="0"><input type="number" class="desn" id="desn13_3" value="0"></td>
          <td><input type="number" class="desn" id="desn12_1" value="0"><input type="number" class="desn" id="desn12_2" value="0"><input type="number" class="desn" id="desn12_3" value="0"></td>
          <td><input type="number" class="desn" id="desn11_1" value="0"><input type="number" class="desn" id="desn11_2" value="0"><input type="number" class="desn" id="desn11_3" value="0"></td>
   </tr>
   <tr align="center">
    <td class="td_text">Глубина зондирования</td>
       <td><input type="number" class="desn" id="zond18_1" value="0"><input type="number" class="zond" id="zond18_2"  value="0"><input type="number" class="zond" id="zond18_3" value="0"></td>
          <td><input type="number" class="zond" id="zond17_1" value="0"><input type="number" class="zond" id="zond17_2"  value="0"><input type="number" class="zond" id="zond17_3" value="0"></td>
          <td><input type="number" class="zond" id="zond16_1" value="0"><input type="number" class="zond" id="zond16_2" value="0"><input type="number" class="zond" id="zond16_3" value="0"></td>
          <td><input type="number" class="zond" id="zond15_1" value="0"><input type="number" class="zond" id="zond15_2" value="0"><input type="number" class="zond" id="zond15_3" value="0"></td>
          <td><input type="number" class="zond" id="zond14_1" value="0"><input type="number" class="zond" id="zond14_2" value="0"><input type="number" class="zond" id="zond14_3" value="0"></td>
          <td><input type="number" class="zond" id="zond13_1" value="0"><input type="number" class="zond" id="zond13_2" value="0"><input type="number" class="zond" id="zond13_3" value="0"></td>
          <td><input type="number" class="zond" id="zond12_1" value="0"><input type="number" class="zond" id="zond12_2" value="0"><input type="number" class="zond" id="zond12_3" value="0"></td>
          <td><input type="number" class="zond" id="zond11_1" value="0"><input type="number" class="zond" id="zond11_2" value="0"><input type="number" class="zond" id="zond11_3" value="0"></td>
   </tr>
   <tr align="center">
    <td style="border: 0;"></td>
       <td class = "td_imgs"><img id="t18" class = "teeth_img" name = 0 src="static/periodontalchart/img/t18.PNG"></td>
       <td class = "td_imgs"><img id="t17" class = "teeth_img" name = 0 src="static/periodontalchart/img/t17.PNG"></td>
       <td class = "td_imgs"><img id="t16" class = "teeth_img" name = 0 src="static/periodontalchart/img/t16.PNG"></td>
       <td class = "td_imgs"><img id="t15" class = "teeth_img" name = 0 src="static/periodontalchart/img/t15.PNG"></td>
       <td class = "td_imgs"><img id="t14" class = "teeth_img" name = 0 src="static/periodontalchart/img/t14.PNG"></td>
       <td class = "td_imgs"><img id="t13" class = "teeth_img" name = 0 src="static/periodontalchart/img/t13.PNG"></td>
       <td class = "td_imgs"><img id="t12" class = "teeth_img" name = 0 src="static/periodontalchart/img/t12.PNG"></td>
       <td class = "td_imgs"><img id="t11" class = "teeth_img" name = 0 src="static/periodontalchart/img/t11.PNG"></td>
   </tr>
  </table>

  <table bgcolor=#ffffff align="center" id="table2">
   <tr align="center">
       <th style="border: none;"></th>
       <th><button onclick="exist21()" class="exist">21</button></th>
       <th><button onclick="exist22()" class="exist">22</button></th>
       <th><button onclick="exist23()" class="exist">23</button></th>
       <th><button onclick="exist24()" class="exist">24</button></th>
       <th><button onclick="exist25()" class="exist">25</button></th>
       <th><button onclick="exist26()" class="exist">26</button></th>
       <th><button onclick="exist27()" class="exist">27</button></th>
       <th><button onclick="exist28()" class="exist">28</button></th>
   </tr>
   <tr align="center">
    <td class="td_text" style="border: none; color: white;">Подвижность</td>
                        <td><input id="podv21" class="podv" type="number" value="0"></td>
                        <td><input id="podv22" class="podv" type="number" value="0"></td>
                        <td><input id="podv23" class="podv" type="number" value="0"></td>
                        <td><input id="podv24" class="podv" type="number" value="0"></td>
                        <td><input id="podv25" class="podv" type="number" value="0"></td>
                        <td><input id="podv26" class="podv" type="number" value="0"></td>
                        <td><input id="podv27" class="podv" type="number" value="0"></td>
                        <td><input id="podv28" class="podv" type="number" value="0"></td>
   </tr>
   <tr align="center">
    <td class="td_text" style="border: none; color: white;">Имплант</td>
       <td><button class="implant" onclick="implant21()"></button></td>
       <td><button class="implant" onclick="implant22()"></button></td>
       <td><button class="implant" onclick="implant23()"></button></td>
       <td><button class="implant" onclick="implant24()"></button></td>
       <td><button class="implant" onclick="implant25()"></button></td>
       <td><button class="implant" onclick="implant26()"></button></td>
       <td><button class="implant" onclick="implant27()"></button></td>
       <td><button class="implant" onclick="implant28()"></button></td>
   </tr>
      <tr align="center">
    <td class="td_text" style="border: none; color: white;">Фуркация</td>
       <td></td>
       <td></td>
       <td></td>
       <td></td>
       <td></td>
       <td><button class="furk" id="furk26" onclick="furk26()"></button></td>
       <td><button class="furk" id="furk27" onclick="furk27()"></button></td>
       <td><button class="furk" id="furk28" onclick="furk28()"></button></td>
   </tr>
   <tr align="center">
    <td class="td_text" style="border: none; color: white;">Кровоточивость</td>
       <td class="td_kr">
           <button onclick="kr21_1()" id="kr21_1" name=0 class="kr"></button><button onclick="kr21_2()" id="kr21_2" name=0 class="kr"></button><button onclick="kr21_3()" id="kr21_3" name=0 class="kr"></button>
       </td>
       <td class="td_kr">
           <button onclick="kr22_1()" id="kr22_1" name=0 class="kr"></button><button onclick="kr22_2()" id="kr22_2" name=0 class="kr"></button><button onclick="kr22_3()" id="kr22_3" name=0 class="kr"></button>
       </td>
       <td class="td_kr">
           <button onclick="kr23_1()" id="kr23_1" name=0 class="kr"></button><button onclick="kr23_2()" id="kr23_2" name=0 class="kr"></button><button onclick="kr23_3()" id="kr23_3" name=0 class="kr"></button>
       </td>
       <td class="td_kr">
           <button onclick="kr24_1()" id="kr24_1" name=0 class="kr"></button><button onclick="kr24_2()" id="kr24_2" name=0 class="kr"></button><button onclick="kr24_3()" id="kr24_3" name=0 class="kr"></button>
       </td>
       <td class="td_kr">
           <button onclick="kr25_1()" id="kr25_1" name=0 class="kr"></button><button onclick="kr25_2()" id="kr25_2" name=0 class="kr"></button><button onclick="kr25_3()" id="kr25_3" name=0 class="kr"></button>
       </td>
       <td class="td_kr">
           <button onclick="kr26_1()" id="kr26_1" name=0 class="kr"></button><button onclick="kr26_2()" id="kr26_2" name=0 class="kr"></button><button onclick="kr26_3()" id="kr26_3" name=0 class="kr"></button>
       </td>
       <td class="td_kr">
           <button onclick="kr27_1()" id="kr27_1" name=0 class="kr"></button><button onclick="kr27_2()" id="kr27_2" name=0 class="kr"></button><button onclick="kr27_3()" id="kr27_3" name=0 class="kr"></button>
       </td>
       <td class="td_kr">
           <button onclick="kr28_1()" id="kr28_1" name=0 class="kr"></button><button onclick="kr28_2()" id="kr28_2" name=0 class="kr"></button><button onclick="kr28_3()" id="kr28_3" name=0 class="kr"></button>
       </td>
   </tr>
   <tr align="center">
    <td class="td_text" style="border: none; color: white;">Зубные отложения</td>
       <td class="td_kr">
           <button onclick="otl21_1()" id="otl21_1" name=0 class="otl"></button><button onclick="otl21_2()" id="otl21_2" name=0 class="otl"></button><button onclick="otl21_3()" id="otl21_3" name=0 class="otl"></button>
       </td>
       <td class="td_kr">
           <button onclick="otl22_1()" id="otl22_1" name=0 class="otl"></button><button onclick="otl22_2()" id="otl22_2" name=0 class="otl"></button><button onclick="otl22_3()" id="otl22_3" name=0 class="otl"></button>
       </td>
       <td class="td_kr">
           <button onclick="otl23_1()" id="otl23_1" name=0 class="otl"></button><button onclick="otl23_2()" id="otl23_2" name=0 class="otl"></button><button onclick="otl23_3()" id="otl23_3" name=0 class="otl"></button>
       </td>
       <td class="td_kr">
           <button onclick="otl24_1()" id="otl24_1" name=0 class="otl"></button><button onclick="otl24_2()" id="otl24_2" name=0 class="otl"></button><button onclick="otl24_3()" id="otl24_3" name=0 class="otl"></button>
       </td>
       <td class="td_kr">
           <button onclick="otl25_1()" id="otl25_1" name=0 class="otl"></button><button onclick="otl25_2()" id="otl25_2" name=0 class="otl"></button><button onclick="otl25_3()" id="otl25_3" name=0 class="otl"></button>
       </td>
       <td class="td_kr">
           <button onclick="otl26_1()" id="otl26_1" name=0 class="otl"></button><button onclick="otl26_2()" id="otl26_2" name=0 class="otl"></button><button onclick="otl26_3()" id="otl26_3" name=0 class="otl"></button>
       </td>
       <td class="td_kr">
           <button onclick="otl27_1()" id="otl27_1" name=0 class="otl"></button><button onclick="otl27_2()" id="otl27_2" name=0 class="otl"></button><button onclick="otl27_3()" id="otl27_3" name=0 class="otl"></button>
       </td>
       <td class="td_kr">
           <button onclick="otl28_1()" id="otl28_1" name=0 class="otl"></button><button onclick="otl28_2()" id="otl28_2" name=0 class="otl"></button><button onclick="otl28_3()" id="otl28_3" name=0 class="otl"></button>
       </td>
   </tr >
      <tr align="center">
    <td class="td_text" style="border: none; color: white;">Десневой край</td>
          <td><input type="number" class="desn" id="desn21_1" value="0"><input type="number" class="desn" id="desn21_2"  value="0"><input type="number" class="desn" id="desn21_3" value="0"></td>
          <td><input type="number" class="desn" id="desn22_1" value="0"><input type="number" class="desn" id="desn22_2"  value="0"><input type="number" class="desn" id="desn22_3" value="0"></td>
          <td><input type="number" class="desn" id="desn23_1" value="0"><input type="number" class="desn" id="desn23_2" value="0"><input type="number" class="desn" id="desn23_3" value="0"></td>
          <td><input type="number" class="desn" id="desn24_1" value="0"><input type="number" class="desn" id="desn24_2" value="0"><input type="number" class="desn" id="desn24_3" value="0"></td>
          <td><input type="number" class="desn" id="desn25_1" value="0"><input type="number" class="desn" id="desn25_2" value="0"><input type="number" class="desn" id="desn25_3" value="0"></td>
          <td><input type="number" class="desn" id="desn26_1" value="0"><input type="number" class="desn" id="desn26_2" value="0"><input type="number" class="desn" id="desn26_3" value="0"></td>
          <td><input type="number" class="desn" id="desn27_1" value="0"><input type="number" class="desn" id="desn27_2" value="0"><input type="number" class="desn" id="desn27_3" value="0"></td>
          <td><input type="number" class="desn" id="desn28_1" value="0"><input type="number" class="desn" id="desn28_2" value="0"><input type="number" class="desn" id="desn28_3" value="0"></td>
   </tr>
   <tr align="center">
    <td class="td_text" style="border: none; color: white;">Глубина зондирования</td>
       <td><input type="number" class="desn" id="zond21_1" value="0"><input type="number" class="zond" id="zond21_2"  value="0"><input type="number" class="zond" id="zond21_3" value="0"></td>
          <td><input type="number" class="zond" id="zond22_1" value="0"><input type="number" class="zond" id="zond22_2"  value="0"><input type="number" class="zond" id="zond22_3" value="0"></td>
          <td><input type="number" class="zond" id="zond23_1" value="0"><input type="number" class="zond" id="zond23_2" value="0"><input type="number" class="zond" id="zond23_3" value="0"></td>
          <td><input type="number" class="zond" id="zond24_1" value="0"><input type="number" class="zond" id="zond24_2" value="0"><input type="number" class="zond" id="zond24_3" value="0"></td>
          <td><input type="number" class="zond" id="zond25_1" value="0"><input type="number" class="zond" id="zond25_2" value="0"><input type="number" class="zond" id="zond25_3" value="0"></td>
          <td><input type="number" class="zond" id="zond26_1" value="0"><input type="number" class="zond" id="zond26_2" value="0"><input type="number" class="zond" id="zond26_3" value="0"></td>
          <td><input type="number" class="zond" id="zond27_1" value="0"><input type="number" class="zond" id="zond27_2" value="0"><input type="number" class="zond" id="zond27_3" value="0"></td>
          <td><input type="number" class="zond" id="zond28_1" value="0"><input type="number" class="zond" id="zond28_2" value="0"><input type="number" class="zond" id="zond28_3" value="0"></td>
   </tr>
      <tr align="center">
      <td style="border: 0;"></td>
       <td class = "td_imgs"><img id="t21" class = "teeth_img" name = 0 src="static/periodontalchart/img/t21.PNG"></td>
       <td class = "td_imgs"><img id="t22" class = "teeth_img" name = 0 src="static/periodontalchart/img/t22.PNG"></td>
       <td class = "td_imgs"><img id="t23" class = "teeth_img" name = 0 src="static/periodontalchart/img/t23.PNG"></td>
       <td class = "td_imgs"><img id="t24" class = "teeth_img" name = 0 src="static/periodontalchart/img/t24.PNG"></td>
       <td class = "td_imgs"><img id="t25" class = "teeth_img" name = 0 src="static/periodontalchart/img/t25.PNG"></td>
       <td class = "td_imgs"><img id="t26" class = "teeth_img" name = 0 src="static/periodontalchart/img/t26.PNG"></td>
       <td class = "td_imgs"><img id="t27" class = "teeth_img" name = 0 src="static/periodontalchart/img/t27.PNG"></td>
       <td class = "td_imgs"><img id="t28" class = "teeth_img" name = 0 src="static/periodontalchart/img/t28.PNG"></td>
   </tr>
  </table>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>

<div style="position:absolute; top:750px; left:160px; width:200px; height:500px;">
<canvas></canvas>
</div>
  <script>
   function exist18() {
           var el = document.getElementById("t18");
           if (el.name == 0){
              el.src = "static/periodontalchart/img/2.PNG";
              el.name = 1;
              document.getElementById('podv18').hidden = true;
           }
           else {
              el.src = "static/periodontalchart/img/t18.PNG";
              el.name = 0;
              document.getElementById('podv18').hidden = false;
           }
   }
    </script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.0/dist/chart.umd.min.js"></script>
  <script src="static/periodontalchart/js/main.js"></script>
  <script src="static/periodontalchart/js/kr.js"></script>
 <script src="static/periodontalchart/js/otl.js"></script>
 <script src="static/periodontalchart/js/implant.js"></script>
 </body>
{% endblock smth1 %}
