body{
    background: white;
}

#menu ul{
        display: none;
        background-color: #81b5af;
        position: absolute;
        top: 100%;
}
#menu li:hover ul { display: block; }
#menu, #menu ul{
        margin: 0;
        padding: 0;
        list-style-type: none;
}
#menu {
        height: 40px;
        background-color: #9587b0;
        padding-right: 25px;
        min-width: 470px;
}
#menu li {
        float: right;
        position: relative;
        height: 100%;
}
#menu li a {
        display: block;
        padding: 6px;
        width: 200px;
        color: #fff;
        text-decoration: none;
        text-align: center;
}
#menu ul li { float: none; }
#menu li:hover {
    background-color: #81b5af;
 }

#menu ul li:hover { background-color: #9587b0; }

#myChart {
  z-index: 3;
}

.teeth_img {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  height: 180px;
}

.td_text{
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 1px;
}

.desn{
   border: none;
   height: 15px;
   width: 27%;
   margin-left: 3%;
   margin-right: 3%;
   padding: 0px;
}

.zond{
   border: none;
   height: 15px;
   width: 27%;
   margin-left: 3%;
   margin-right: 3%;
   padding: 0px;
}

.podv{
   height: 20px;
   width: 20px;
}

input[type="number"]{
   border: none;
   background: #fff0f5;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.exist{
   width: 95%;
   border: none;
   margin: 2px;
   background: #fff0f5;
}

.kr {
   border: none;
   height: 15px;
   width: 27%;
   margin-left: 3%;
   margin-right: 3%;
   padding: 0px;
}

.otl {
   border: none;
   height: 15px;
   width: 27%;
   margin-left: 3%;
   margin-right: 3%;
   padding: 0px;
}


.implant{
   margin: 3%;
   width: 95%;
   height: 20px;
   border: none;
}

.furk{
   margin: 3%;
   width: 95%;
   height: 20px;
   border: none;
}

#table1 {
    position: absolute;
    top: 400px;
    left: 100px;
    width: 25%;
    height: 25%;
    border-collapse: collapse; /* Убираем двойные линии между ячейками */
    z-index: 2;
}

#table2 {
    position: absolute;
    top: 400px;
    left: 600px;
    width: 25%;
    height: 25%;
    border-collapse: collapse; /* Убираем двойные линии между ячейками */
    z-index: 1;
}

#table3 {
    position: absolute;
    top: 900px;
    left: 100px;
    width: 25%;
    height: 25%;
    border-collapse: collapse; /* Убираем двойные линии между ячейками */
    z-index: 2;
}

.td_imgs {
    padding-left: 0;
    padding-right: 0;
    border: 0;
    padding-top: 15px;
    align: center;
}

.fb{
   width: 13px;
}

.fi{
   position: absolute;
   width: 15px;
}

#fi18{
   margin-top: 87px;
   margin-left: 20px;
}

#fi17{
   margin-top: 85px;
   margin-left: 23px;
}

#fi16{
   margin-top: 83px;
   margin-left: 28px;
}

#fi28{
   margin-top: 87px;
   margin-left: 25px;
}

#fi27{
   margin-top: 85px;
   margin-left: 25px;
}

#fi26{
   margin-top: 83px;
   margin-left: 28px;
}


td, th {
    border: 1px solid black; /* Параметры рамки */
}
th {
    background: #ffffff; /* Цвет фона */
}
