body{
    background: white;
    align-items: center;
}

.div_tables1{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 400px;
}

.div_tables2{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 950px;
}

.div_tables3{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 1450px;
}

.div_tables4{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 1950px;
}

.indexes{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    position: relative;
    border: 1px solid;
    top: 2450px;
    padding-bottom: 30px;
    width: 60%;
}

#menu ul{
        display: none;
        background-color: #81b5af;
        position: absolute;
        top: 100%;
}
#menu li:hover ul { display: block; }
#menu, #menu ul{
        margin: 0;
        padding: 0;
        list-style-type: none;
}
#menu {
        height: 40px;
        background-color: #9587b0;
        padding-right: 25px;
        min-width: 470px;
}
#menu li {
        float: right;
        position: relative;
        height: 100%;
}
#menu li a {
        display: block;
        padding: 6px;
        width: 200px;
        color: #fff;
        text-decoration: none;
        text-align: center;
}
#menu ul li { float: none; }
#menu li:hover {
    background-color: #81b5af;
 }

#menu ul li:hover { background-color: #9587b0; }

.teeth_img {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  height: 180px;
}

.td_text{
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 1px;
}

.desn{
   border: none;
   height: 15px;
   width: 27%;
   margin-left: 3%;
   margin-right: 3%;
   padding: 0px;
}

.zond{
   border: none;
   height: 15px;
   width: 27%;
   margin-left: 3%;
   margin-right: 3%;
   padding: 0px;
}

.podv{
   height: 20px;
   width: 20px;
}

input[type="number"]{
   border: none;
   background: #fff0f5;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.exist{
   width: 95%;
   border: none;
   margin: 2px;
   background: #fff0f5;
}

.kr {
   border: none;
   height: 15px;
   width: 27%;
   margin-left: 3%;
   margin-right: 3%;
   padding: 0px;
}

.otl {
   border: none;
   height: 15px;
   width: 27%;
   margin-left: 3%;
   margin-right: 3%;
   padding: 0px;
}

.kam {
   border: none;
   height: 15px;
   width: 27%;
   margin-left: 3%;
   margin-right: 3%;
   padding: 0px;
}

.implant{
   margin: 3%;
   width: 95%;
   height: 20px;
   border: none;
}

.furk{
   margin: 3%;
   width: 95%;
   height: 20px;
   border: none;
   align-items: center;
  justify-content: center;
}

.furk2{
   margin: 7%;
   width: 30%;
   height: 20px;
   border: none;
   align-items: center;
  justify-content: center;
}

#table1 {
    position: relative;
    width: 20%;
    height: 20%;
    border-collapse: collapse; /* Убираем двойные линии между ячейками */
    z-index: 2;
}

#table2 {
    position: relative;
    width: 20%;
    height: 20%;
    border-collapse: collapse; /* Убираем двойные линии между ячейками */
    z-index: 2;
}

#table3 {
    position: relative;
    width: 20%;
    height: 20%;
    border-collapse: collapse; /* Убираем двойные линии между ячейками */
    z-index: 2;
}

#table4 {
    position: relative;
    width: 20%;
    height: 20%;
    border-collapse: collapse; /* Убираем двойные линии между ячейками */
    z-index: 2;
}

.td_imgs {
    padding-left: 0;
    padding-right: 0;
    border: 0;
    padding-top: 15px;
    align: center;
}

.fb{
   width: 13px;
}

.fi{
   position: absolute;
   width: 15px;
}

#fi18{
   margin-top: 87px;
   margin-left: 20px;
}

#fi17{
   margin-top: 85px;
   margin-left: 23px;
}

#fi16{
   margin-top: 83px;
   margin-left: 28px;
}

#fi28{
   margin-top: 87px;
   margin-left: 25px;
}

#fi27{
   margin-top: 85px;
   margin-left: 25px;
}

#fi26{
   margin-top: 83px;
   margin-left: 28px;
}

#fi182_1{
   margin-top: 79px;
   margin-left: 4px;
}

#fi182_2{
   margin-top: 81px;
   margin-left: 34px;
}

#fi172_1{
   margin-top: 88px;
   margin-left: 4px;
}

#fi172_2{
   margin-top: 92px;
   margin-left: 34px;
}

#fi162_1{
   margin-top: 93px;
   margin-left: 4px;
}

#fi162_2{
   margin-top: 80px;
   margin-left: 43px;
}

#fi142_1{
   margin-top: 93px;
   margin-left: 5px;
}

#fi142_2{
   margin-top: 80px;
   margin-left: 25px;
}

#fi282_1{
   margin-top: 81px;
   margin-left: 6px;
}

#fi282_2{
   margin-top: 79px;
   margin-left: 39px;
}

#fi272_1{
   margin-top: 92px;
   margin-left: 16px;
}

#fi272_2{
   margin-top: 88px;
   margin-left: 45px;
}

#fi262_1{
   margin-top: 80px;
   margin-left: 12px;
}

#fi262_2{
   margin-top: 93px;
   margin-left: 50px;
}

#fi242_1{
   margin-top: 80px;
   margin-left: 7px;
}

#fi242_2{
   margin-top: 93px;
   margin-left: 25px;
}

#fi48{
   margin-top: 76px;
   margin-left: 23px;
}

#fi47{
   margin-top: 78px;
   margin-left: 30px;
}

#fi46{
   margin-top: 85px;
   margin-left: 26px;
}

.no{
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: absolute;
  z-index: 5;
  width: 60px;
}

#no11{
  bottom: -5px;
}

#no21{
  bottom: -5px;
}

td, th {
    border: 1px solid black; /* Параметры рамки */
}
th {
    background: #ffffff; /* Цвет фона */
}
